/*///////////////////////////////////

            FONT IMPORT

///////////////////////////////////*/


@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,500,300,100,300italic,100italic,400italic,500italic|Sorts+Mill+Goudy);



/*///////////////////////////////////

            BASE STYLES

///////////////////////////////////*/


* {
	box-sizing: border-box;
}

body {
	font-family: 'Alegreya Sans', sans-serif;
	color: #3a3a3a;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Sorts Mill Goudy', serif;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 0;
}

p {
	margin-top: 0;
}

h2,
h3,
a {
	color: #093a58;
}



a {
	text-decoration: none;
}

/*///////////////////////////////////

        BASE LAYOUT STYLES

///////////////////////////////////*/


/* readying the document wrapper and flexing */

.page-wrapper {
   
}

.page-wrapper > div ,
.page-wrapper > section,
.page-wrapper > div div{
    padding-bottom: 2%;
    
}
.page-wrapper > div p,
.page-wrapper > section p{
    margin: 0 auto ;
    padding: 0 3%;
    max-width: 960px;
}

.intro {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(ryoanji-temple1.jpg) bottom center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: ;
    
    color: RGBA(185, 186, 182, 1)
}

.summary {
    text-align: center;
    font-size: 85%;
    padding-bottom: 3%; 
}

.main {
    
    padding: ;
    flex-grow: 7;
}

/* Making the main header look nice */

header {
    width: 100%;
    text-align: center;
    margin-bottom: 8%; 
    padding-top: 5%;
    color: RGBA(220, 230, 220, 1)
}

header h1 {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 3.4em;
    font-weight:600;
    margin-bottom: 2%;
}

header h2 {
    font-size: 1em;
}

header h2::before {
    content:"— ";
    color:red;
}

header h2::after {
    content:" —";
    color:red;
}


/*///////////////////////////////////

            MEDIA QUERIES

///////////////////////////////////*/

@media (min-width 768px) {
    
    
}



        